/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 Jun 2024, 12:48:26 PM
    Author     : LENOVO
*/

.listTitle {
    font-size: 40px;
    margin: 20px;
    margin-left: 5%;
    text-shadow: 2.5px 2.5px 0px #1fb1c4, 5px 5px 2px rgba(255, 255, 255);
}
table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td {
    border: 1.5px solid #1fb1c4;
}
th, td {
    padding: 10px;
    text-align: left;
    font-size: 15px;
}
th {
    background-color: #1fb1c4;
    text-align: center;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: #acebf2;
}
tr:nth-child(even) {
    background-color: #c8f4f7;
}
tr:hover {
    background-color: #ddd;
}
.addBtn{
    background-color: #1fbfdb;
    color:white;
    border: 0px;
    border-radius:10px;
    padding:8px 5px;
    font-size:15px;
    margin-bottom: 20px;
    width:10%;
    float: right;
    margin-right:2.5%;
    box-shadow: 2px 2px 2px black;

}
.addBtn:hover{
    opacity:0.8;
}
.search-container{
    font-size:15px;
    padding-left:2.5%;
}
#section{
    margin-bottom: 30px;
}
#search{
    width:fit-content;
    font-size:12px;
    margin:auto;
    background-color: #1fbfdb;
    color: white;
    border:none;
    box-shadow: 2px 2px 2px black;
}
#search:hover{
    opacity:0.6;
}
#action{
    display:flex;
    justify-content:space-around;
    border:0;
    padding:2px 15px;
}
.action-btn{
    margin: 2px;
    background-color:#3fb8cc;
    border:0;
    font-weight:500;
    font-size:14px;
    border-radius:10px;
    width:fit-content;
    padding:5px 10px;
    color: white;
    box-shadow: 2px 2px 1px black;
}
.action-btn:hover{
    opacity:0.7;
}
#deleteBtn{
    background-color: #959c9c;
}
@media screen and (max-width: 768px) {
    .listTitle {
        font-size: 30px;
    }
    .search-container{
        font-size:14px;
        padding-left:5%;
    }
    table {
        width: 90%;
    }
    th, td {
        font-size: 12px;
        padding: 7px;
    }
    .addBtn {
        width: 20%;
        margin-right: 5%;
        font-size:13px;
        padding:7px 6px;
    }
    #action{
        padding:2px 10px;
    }
    .action-btn{
        font-size:12px;
        padding:5px 9px;
    }
}
@media screen and (max-width: 480px) {
    .listTitle {
        font-size: 23px;
    }
    .search-container{
        font-size:12px;
        padding-left:2.5%;
    }
    th, td {
        font-size: 11px;
        padding: 5px;
    }
    .addBtn {
        font-size:12px;
        padding:5px;
    }

    #action{
        padding:2px 5px;
    }
    .action-btn{
        font-size:11px;
        padding:5px 8px;
    }
}
